<div class="row">
    @Html.Partial("~/Views/Shared/_Header.cshtml", "12")
    <div class="col-md-12 headerOver">
        <div class="page-header headerTitle">
            @Html.Partial("~/Views/Shared/_TitleAction.cshtml")
        </div>
    </div>
</div>
